<div id="toggle-wrapper">
  <button id="rad-offcanvas-toggle" aria-label="{{ "Toggle Navigation"|trans }}" aria-controls="off-canvas" aria-expanded="false">
    {% if label_display == 'left' %}<span class="rad-offcanvas-toggle-label rad-label-left">{{ label }}</span>{% endif %}
    <i class="far fa-bars" aria-hidden="true"></i>
    {% if label_display == 'right' %}<span class="rad-offcanvas-toggle-label rad-label-right">{{ label }}</span>{% endif %}
    {% if label_display == 'none' %}<span class="sr-only">{{ label }}</span>{% endif %}
  </button>
</div>
